.calculator{
    border:10px solid green;
    background-color: black;
    padding:20px;
    height: 300px;
}
.calculator input{
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    
}
.display_box{
    padding:20px;
    border-radius: 5px;
    gap:5px;
    width: 80%;
    margin-bottom: 5px;
}
#equal{
    background-color:chocolate;
    height: 60px;
    width: 40px;
    padding: 15px;

}